a {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
    cursor: pointer;
}
.line {
    width:100%;
    border-bottom: 1px solid #EBEBEB;
}

.navbar-default {
    -moz-box-shadow:0px 2px 5px #E7E7E7;
    -webkit-box-shadow:0px 2px 5px #E7E7E7;
    box-shadow:0px 2px 5px #E7E7E7;
}
.navbar-header img {
    height: 22px;
}
.datashow {
    display: none;
}
.mg-r {
    margin-right: 12px;
}
.mg-b {
    margin-bottom: 8px;
}
.mg-t {
    margin-top: 8px;
}
