.arrow-container {
    margin: 0 auto;
    display: table-cell;
    vertical-align: middle;
}

.arrow-steps .step {
    font-size: 14px;
    text-align: center;
    color: #666;
    cursor: default;
    margin-right: 12px;
    padding: 10px 10px 10px 30px;
    min-width: 180px;
    float: left;
    position: relative;
    /*background-color: #d9e3f7;*/
    background-color: #e0e9f0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: background-color 0.2s ease;
}

.arrow-steps .step:after,
.arrow-steps .step:before {
    content: " ";
    position: absolute;
    top: 0;
    right: -17px;
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 17px solid #e0e9f0;
    z-index: 2;
    transition: border-color 0.2s ease;
}

.arrow-steps .step:before {
    right: auto;
    left: 0;
    border-left: 17px solid #fff;
    z-index: 0;
}

.arrow-steps .step:first-child:before {
    border: none;
}

.arrow-steps .step:first-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.arrow-steps .step span {
    position: relative;
}

.arrow-steps .step span:before {
    opacity: 0;
    content: "✔";
    position: absolute;
    top: -2px;
    left: -20px;
}

.arrow-steps .step.done span:before {
    opacity: 1;
    -webkit-transition: opacity 0.3s ease 0.2s;
    -moz-transition: opacity 0.3s ease 0.2s;
    -ms-transition: opacity 0.3s ease 0.2s;
    transition: opacity 0.3s ease 0.2s;
}

.arrow-steps .step.current {
    color: #fff;
    background-color: #428bca;
}

.arrow-steps .step.current:after {
    border-left: 17px solid #428bca;
}

.step-content {
    margin: 16px 16px;
}
.step-content .block-top {
    /*margin: 6px 16px;*/
    margin-right: 32px;
    width: 250px;
    height: 32px;
    display: inline-block;
}

.step-content .block {
    border: 1px solid #dddddd;
    border-radius: 4px;
    min-height: 400px;
    /*margin: 0 16px;*/
    margin-right: 32px;
    width: 250px;
    display: inline-block;
    vertical-align: middle;
    padding: 24px;
}
@media (min-width: 992px) {
    .step-content .block-top {
        width: 350px;
    }
    .step-content .block {
        width: 350px;
    }
}
@media (min-width: 1200px) {
    .step-content .block-top {
        width: 400px;
    }
    .step-content .block {
        width: 400px;
    }
}

.step-content .block.active {
    border-color: #428bca;
}
.step-content .block .vm-icon {
    font-size: 24px;
    color: #d5d5d5;
}
.step-content .block.active .vm-icon {
    color: #428bca;
}
.step-content .block ul {
    padding-left: 12px;
}
.step-content .block ul > li {
    margin: 8px 0;
}

.step-content {
    display: none;
}

.step-content.current {
    display: block;
}

.select-label {
    height: 34px;
    text-align: right;
    line-height: 34px;
    font-weight: 600;
}

.dropdown-toggle {
    width: 160px;
}

.config {
    overflow: hidden;
    vertical-align: bottom;
    text-overflow: ellipsis;
    white-space:nowrap;
    max-width: 300px;
}

.input-text {
    width: 110%;
    height: 34px;
    line-height: 30px;
    padding: 2px;
    border-radius: 2px;
    border-color: #d5d5d5;
    border-width: 1px;
}


div.kv-file-content {
    height: 100px !important;
}