.left-panel > div > div {
    height: 48px;
    line-height: 48px;
}
.left-panel > div > div > div {
    display:inline-block;
}
.left-panel input {
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    border: 1px solid #ccc;
    border-radius: 4px;
    max-width: 142px;
}
.left-panel .left {
    padding-right: 16px;
    text-align: right;
    width: 132px;
    display: inline-block;
    font-weight: 600;
}
.left-panel button {
    min-width: 72px;
    margin: 0 auto;
}
.left-panel .dropdown-toggle {
    width: 142px;
}
.left-panel .dropdown-toggle span {
    display: inline-block;
}
.left-panel .dropdown-toggle .chosenItem {
    width: 96px;
    height: 20px;
    overflow: hidden;
    vertical-align: bottom;
    text-overflow: ellipsis;
    white-space:nowrap;
}

.select-label {
    height: 34px;
    text-align: right;
    line-height: 34px;
    font-weight: 600;
    margin-right: 12px;
}
.content {
    margin-right: 24px;
}

.config {
    overflow: hidden;
    vertical-align: bottom;
    text-overflow: ellipsis;
    white-space:nowrap;
    max-width: 300px;
}

.input-text {
    width: 387px;
    height: 32px;
    line-height: 30px;
    padding: 2px;
    border-radius: 2px;
    border-color: #d5d5d5;
    border-width: 1px;
}

.btn-wide {
    width: 80px;
}
