<!DOCTYPE html>
<html lang="zh-CN"
      xmlns:th="http://www.thymeleaf.org">
<head th:fragment="common_header(title,links,scripts)">

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title th:replace="${title}">The awesome application</title>

    <link rel="icon"  th:href="@{/resources/image/cloudtesting-icon.png}">

    <!-- Common styles and scripts -->

    <!-- Bootstrap core CSS -->
    <link th:href="@{/resources/dist/css/bootstrap.css}" rel="stylesheet">
    <!-- FontAwesome -->
    <link th:href="@{/resources/dist/font-awesome-4.7.0/css/font-awesome.min.css}" rel="stylesheet">

    <link th:href="@{/resources/css/sidebar.css}" rel="stylesheet">
    <link th:href="@{/resources/css/common.css}" rel="stylesheet">

    <!-- Bootstrap core JavaScript -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script th:src="@{/resources/dist/jquery/jquery-3.2.1.min.js}"></script>
    <script th:src="@{/resources/dist/js/bootstrap.min.js}" ></script>


    <!--/* Per-page placeholder for additional links */-->
    <th:block th:replace="${links}" />
    <!--/* Per-page placeholder for additional scripts */-->
    <th:block th:replace="${scripts}" />

</head>
</html>