<!DOCTYPE html>
<html lang="zh-CN"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>



    <div id="nav-sidebar" class="col-sm-3 col-md-2 sidebar">
        <ul class="nav nav-sidebar">
            <li id="index">
                <a href=""><i class="fa fa-tachometer" aria-hidden="true"></i>总览面板</a>
            </li>
            <li>
                <a th:href="@{/device-list}"><i class="fa fa-cogs" aria-hidden="true"></i>测试设备</a>
            </li>
                <li id="device-list" class="second-nav">
                    <a th:href="@{/device-list}"><i class="fa fa-list" aria-hidden="true"></i>设备列表</a>
                </li>
                <li id="device-control-panel" class="second-nav">
                    <a href=""><i class="fa fa-desktop" aria-hidden="true"></i>控制面板</a>
                </li>
                <li id="device-history" class="second-nav">
                    <a href=""><i class="fa fa-history" aria-hidden="true"></i>历史数据</a>
                </li>
                <li id="device-add" class="second-nav">
                    <a href=""><i class="fa fa-plus-square" aria-hidden="true"></i> 添加设备</a>
                </li>
            <li>
                <a th:href="@{/model-list}"><i class="fa fa-list-alt" aria-hidden="true"></i>型号管理</a>
            </li>
                <li id="model-list" class="second-nav">
                    <a th:href="@{/model-list}"><i class="fa fa-list" aria-hidden="true"></i>型号列表</a>
                </li>
            <li>
                <a href=""><i class="fa fa-tasks" aria-hidden="true"></i>测试任务</a>
            </li>
            <li class="second-nav">
                <a href=""><i class="fa fa-list" aria-hidden="true"></i>任务列表</a>
                <a href=""><i class="fa fa-plus-square" aria-hidden="true"></i> 新的任务</a>
            </li>

        </ul>
    </div>


</body>
</html>