<!DOCTYPE html>
<html lang="zh-CN"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<nav id="header" class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" th:href="@{/}"><img  th:src="@{/resources/image/cloudtesting-logo-777777.svg}"></a>
            <a class="navbar-brand" th:href="@{/}">云检测平台</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <div th:if="${user != null}" class="navbar-right">
                <!--<a class="navbar-brand" th:href="@{'/user/' + ${user.getId()}}" th:text="${user.getUsername()}">Username</a>-->
                <a class="navbar-brand" th:href="@{/home}" th:text="${user.getUsername()}">Username</a>
                <a class="navbar-brand" th:href="@{/logout/main}">退出</a>
            </div>
        </div><!--/.nav-collapse -->
    </div>
</nav>



</body>
</html>