<!DOCTYPE html>
<html lang="zh-CN"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>



    <div id="nav-sidebar" class="col-sm-3 col-md-2 sidebar">
        <ul class="nav nav-sidebar">
            <li id="home">
                <a th:href="@{/home}"><i class="fa fa-tachometer" aria-hidden="true"></i>总览面板</a>
            </li>
            <li>
                <a th:href="@{/device-list}"><i class="fa fa-cogs" aria-hidden="true"></i>测试设备</a>
            </li>
                <li id="device-list" class="second-nav">
                    <a th:href="@{/device-list}"><i class="fa fa-list" aria-hidden="true"></i>设备列表</a>
                </li>
                <li id="device-info" class="second-nav">
                    <a href=""><i class="fa fa-info-circle" aria-hidden="true"></i>设备详情</a>
                </li>
                <li id="device-control-panel" class="second-nav">
                    <a href=""><i class="fa fa-desktop" aria-hidden="true"></i>控制面板</a>
                </li>
                <li id="device-history" class="second-nav">
                    <a href=""><i class="fa fa-history" aria-hidden="true"></i>历史数据</a>
                </li>
                <li id="device-mapping" class="second-nav">
                    <a href=""><i class="fa fa-exchange" aria-hidden="true"></i>映射管理</a>
                </li>
                <li id="device-add" class="second-nav">
                    <a th:href="@{/device-add}"><i class="fa fa-plus-square" aria-hidden="true"></i>添加设备</a>
                </li>
            <li>
                <a th:href="@{/model-list}"><i class="fa fa-list-alt" aria-hidden="true"></i>型号管理</a>
            </li>
                <li id="model-list" class="second-nav">
                    <a th:href="@{/model-list}"><i class="fa fa-list" aria-hidden="true"></i>型号列表</a>
                </li>
            <li>
                <a th:href="@{/task-list}"><i class="fa fa-tasks" aria-hidden="true"></i>测试任务</a>
            </li>
            <li class="second-nav" id="task-list">
                <a th:href="@{/task-list}"><i class="fa fa-list" aria-hidden="true"></i>任务列表</a>
            </li>
            <li class="second-nav" id="task-add">
                <a href=""><i class="fa fa-plus-square" aria-hidden="true"></i>新的任务</a>
            </li>
            <li id="user">
                <a th:href="@{/user}"><i class="fa fa-user-circle" aria-hidden="true"></i>用户中心</a>
            </li>
            <li id="user-manage" th:if="${user.role == 'admin'}">
                <a th:href="@{/user-manage}"><i class="fa fa-users" aria-hidden="true"></i>用户管理</a>
            </li>
            <li id="file" th:if="${user.role == 'admin'}">
                <a th:href="@{/file}"><i class="fa fa-file" aria-hidden="true"></i>文件管理</a>
            </li>

        </ul>
    </div>


</body>
</html>