<!DOCTYPE html>
<html lang="zh-CN"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>



    <div id="nav-sidebar" class="col-sm-3 col-md-2 sidebar">
        <ul class="nav nav-sidebar">
            <li class="active">
                <a href="">用户中心</a>
            </li>
            <li>
                <a href="">测试设备</a>
            </li>
            <li class="second-nav">
                <a href="">设备列表</a>
            </li>
            <li class="second-nav">
                <a href="">添加设备</a>
            </li>
            <li>
                <a href="">测试任务</a>
            </li>
            <li class="second-nav">
                <a href="">任务列表</a>
                <a href="">新的任务</a>
            </li>

        </ul>
    </div>


</body>
</html>