<!DOCTYPE html>
<html lang="zh-CN"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="component-common-head :: common_header(~{::title},~{::link},~{::script})">

    <title>映射管理</title>
    <!-- Custom styles for this template -->
    <!-- should have at least 1 link and script for thymeleaf to parse -->

    <link th:href="@{/resources/css/emptycss.css}" rel="stylesheet">
    <script th:src="@{/resources/js/emptyjs.js}" ></script>

    <link th:href="@{/resources/dist/jsoneditor/jsoneditor.min.css}" rel="stylesheet" type="text/css">
    <script th:src="@{/resources/dist/jsoneditor/jsoneditor.min.js}"></script>

    <!-- scripts -->
    <script th:src="@{/resources/dist/echarts/echarts.min.js}" ></script>
    <script th:src="@{/resources/js/device-mapping.js}" ></script>

</head>
<body>
<script th:inline="javascript">
    var deviceId = [[${device.deviceId}]];
    var physicalDeviceId = [[${device.physicalDeviceId}]];
    var virtual = [[${device.virtual}]];
    var configStr = [[${device.config}]];
</script>

<div th:replace="~{component-header :: #header}"></div>


<div class="container-fluid">

    <div th:replace="~{component-nav-sidebar :: #nav-sidebar}"></div>

    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h3 class="page-header">映射管理</h3>

        <div class="row">

            <div class="col-md-6">

                <div class="panel panel-primary">
                    <div class="panel-heading">
                        映射配置
                    </div>
                    <div style="height: 500px;">
                        <div id="jsoneditor" style="width: 100%; height: 500px;"></div>
                    </div>

                </div>

            </div>

            <div class="col-md-6">

                <div class="panel panel-default">
                    <div class="panel-heading">
                        映射关系图
                    </div>
                    <div style="height: 500px; " id="chart">



                    </div>

                </div>

            </div>

        </div>

        <div class="row">
            <div class="col-md-2">
                <b>设备ID：</b><span th:text="${device.deviceId}"></span>
            </div>
            <div class="col-md-2">
                <b>设备类型：</b><span th:text="${device.virtualStr}" th:class="${device.virtual == 0}? 'text-primary' : 'text-success'"></span>
            </div>
            <div th:if="${device.virtual == 1}" class="col-md-2" style="text-align: right">
                <button class="btn btn-primary" id="saveConfigBtn">保存</button>
                <button class="btn btn-default" id="resetConfigBtn">重置</button>
            </div>
            <div class="col-md-6"></div>
        </div>

    </div>


</div><!-- /.container -->

<!-- nav selector -->
<script>
    $("#device-mapping").addClass("active");
</script>



</body>
<div class="modal fade" id="alert" tabindex="-1" role="dialog" aria-labelledby="alertModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width: 300px;">
        <div class="modal-content" >
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="alertModalLabel">操作提示</h4>
            </div>
            <div class="modal-body" id="alert-content">在这里添加一些文本</div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">确定</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
</html>