<!DOCTYPE html>
<html lang="zh-CN"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="component-common-head :: common_header(~{::title},~{::link},~{::script})">

    <title>控制面板</title>
    <!-- Custom styles for this template -->
    <!-- should have at least 1 link and script for thymeleaf to parse -->

    <link th:href="@{/resources/css/emptycss.css}" rel="stylesheet">
    <script th:src="@{/resources/js/emptyjs.js}" ></script>
    <script th:src="@{/resources/js/stomp.js}" ></script>

    <link th:href="@{/resources/css/device-control-panel.css}" rel="stylesheet">

    <link th:href="@{/resources/dist/icheck/skins/all.css}" rel="stylesheet">
    <script th:src="@{/resources/dist/icheck/icheck.js}" ></script>

    <link th:href="@{/resources/dist/bootstrap-fileinput/fileinput.min.css}" rel="stylesheet">
    <script th:src="@{/resources/dist/bootstrap-fileinput/fileinput.min.js}" ></script>

    <script th:src="@{/resources/js/device-control-panel-smartGateway.js}" ></script>

</head>
<body>
<script th:inline="javascript">
    var deviceId = [[${device.getDeviceId()}]];
    var physicalDeviceId = [[${device.getPhysicalDeviceId()}]];
    var configStr = [[${device.config}]];
</script>

<div th:replace="~{component-header :: #header}"></div>


<div class="container-fluid">

    <div th:replace="~{component-nav-sidebar :: #nav-sidebar}"></div>

    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h3 class="page-header">控制面板</h3>

        <h3 >
            <span th:text="${device.model.getName()}">Device Name</span>
            <a style="font-size: 18px; margin-left: 18px;" th:text="${device.deviceId}" th:href="'../device-info/' + ${device.getDeviceId()}"> </a>
        </h3>

        <ul id="myTab" class="nav nav-tabs">
            <li class="active"><a href="#panel-instruction" data-toggle="tab">指令收发</a></li>
            <li><a href="#panel-script" data-toggle="tab">检测脚本</a></li>
        </ul>
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade in active" id="panel-instruction">
                <div class="mg-t">
                    <span class="select-label">端口: </span>
                    <span class="dropdown content">
                        <button type="button" class="btn dropdown-toggle btn-default" id="dropdownPort"
                                data-toggle="dropdown">
                            <span class="chosenItem" id="dropdownPort-chosenItem">/dev/ttyUSB0</span>
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1" id="dropdownPort-content">
                            <li role="presentation"><a role="menuitem" tabindex="-1" >/dev/ttyUSB0</a></li>
                        </ul>
                    </span>
                    <span class="select-label">波特率: </span>
                    <span class="dropdown content">
                        <button type="button" class="btn dropdown-toggle btn-default" id="dropdownBound"
                                data-toggle="dropdown">
                            <span class="chosenItem" id="dropdownBound-chosenItem">9600</span>
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1" id="dropdownBound-content">
                            <li role="presentation"><a role="menuitem" tabindex="-1" >9600</a></li>
                        </ul>
                    </span>
                    <button class="btn btn-success btn-wide mg-r" id="btn-connect">连接</button>
                    <button class="btn btn-danger btn-wide" disabled id="btn-disconnect">断开</button>
                </div>
                <div class="mg-t">
                    <span class="select-label">指令: </span>
                    <input id="input-instruction" class="input-text mg-r" type="text"/>
                    <button class="btn btn-primary btn-wide" disabled id="btn-send">发送</button>
                </div>
                <div class="row mg-t">
                    <div class="col-md-4 col-sm-5">
                        <div class="list-group">
                            <a class="list-group-item active">发送</a>
                            <div id="send-list">

                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-5">
                        <div class="list-group">
                            <a class="list-group-item active">接收</a>
                            <div id="receive-list">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="panel-script">
                <div class="row mg-t">
                    <div class="col-md-8" style="max-width: 700px;">
                        <div class="icheck-list">
                            <div>
                                <input tabindex="3" type="radio" id="radio-script-default" name="radio-script" checked="">
                                <label for="radio-script-default" class="">UUT Sense Hat Full Test</label>
                            </div>
                            <div class="mg-t">
                                <div class="mg-r" style="display: inline-block; vertical-align: middle;">
                                <input tabindex="4" type="radio" id="radio-script-upload" name="radio-script" >
                                <label for="radio-script-upload" class="">自定义</label>
                                </div>
                                <div style="display: inline-block; width: 400px; vertical-align: middle">
                                    <div><input id="input-b1" name="file-data" type="file" accept="text/json" data-show-preview="false"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1 ">
                        <button class="btn btn-success btn-wide pull-right" id="btn-perform-task">执行</button>
                    </div>
                </div>
                <p id="loading" class="mg-t"
                   style="text-align: center; font-size: 50px;">
                    <i class="fa fa-spinner fa fa-spin fa fa-2x"></i>
                </p>
                <table class="table datashow" id="dataList">
                    <thead>
                    <tr>
                        <th><input type="checkbox"></th>
                        <th>指令</th>
                        <th>数据</th>
                        <th>数据值</th>
                        <th>最小</th>
                        <th>最大</th>
                        <th>时间</th>
                        <th>端口</th>
                        <th>备注</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td><input type="checkbox" ></td>
                        <td>time</td>
                        <td >direction</td>
                        <td >data</td>
                        <td>
                            <a class="btn btn-default btn-sm" href="" >详细数据</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>



</div><!-- /.container -->

<!-- nav selector -->
<script>
    $("#device-control-panel").addClass("active");
</script>


</body>
</html>