<!DOCTYPE html>
<html lang="zh-CN"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="component-common-head :: common_header(~{::title},~{::link},~{::script})">

    <title>添加设备</title>
    <!-- Custom styles for this template -->
    <!-- should have at least 1 link and script for thymeleaf to parse -->

    <link th:href="@{/resources/css/emptycss.css}" rel="stylesheet">
    <script th:src="@{/resources/js/emptyjs.js}" ></script>

    <link th:href="@{/resources/dist/icheck/skins/all.css}" rel="stylesheet">
    <script th:src="@{/resources/dist/icheck/icheck.js}" ></script>

    <link th:href="@{/resources/dist/bootstrap-fileinput/fileinput.min.css}" rel="stylesheet">
    <script th:src="@{/resources/dist/bootstrap-fileinput/fileinput.min.js}" ></script>

    <link th:href="@{/resources/css/device-add.css}" rel="stylesheet">
    <script th:src="@{/resources/js/device-add.js}" ></script>

</head>
<body>

<div th:replace="~{component-header :: #header}"></div>


<div class="container-fluid">

    <div th:replace="~{component-nav-sidebar :: #nav-sidebar}"></div>

    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h3 class="page-header">添加设备</h3>

        <div class="row">
            <div class="col-md-12">
                <div class="arrow-container">
                    <div class="arrow-steps ">
                        <div class="step current"> <span>选择类型</span> </div>
                        <div class="step"> <span>选择型号 / 实体</span> </div>
                        <div class="step"> <span>完善信息</span> </div>
                        <div class="step"> <span>核对信息</span> </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="row" style="height: 500px;">
            <div class="step-content current" id="step-1">

                <div class="icheck-list">
                    <div class="block-top" >
                        <input tabindex="3" type="radio" id="input-virtual-p" name="virtualRadio" checked="">
                        <label for="input-virtual-p" class="">物理设备</label>
                    </div>
                    <div class="block-top" >
                        <input tabindex="4" type="radio" id="input-virtual-v" name="virtualRadio" >
                        <label for="input-virtual-v" class="">虚拟设备</label>
                    </div>
                </div>
                <div >
                    <div class="block physical active" >

                        <p class="vm-icon">
                            <i class="fa fa-microchip" aria-hidden="true"></i>
                            <i class="fa fa-arrows-h" aria-hidden="true"></i>
                            <i class="fa fa-desktop" aria-hidden="true"></i>
                        </p>
                        <ul>
                            <li>物理设备</li>
                            <li>此类型设备代表物理实体设备，接入平台后，可实现对设备的远程控制、数据获取、历史数据管理等功能。</li>
                        </ul>

                    </div>
                    <div class="block virtual" >

                        <p class="vm-icon">
                            <i class="fa fa-cloud" aria-hidden="true"></i>
                            <i class="fa fa-arrows-h" aria-hidden="true"></i>
                            <i class="fa fa-desktop" aria-hidden="true"></i>
                        </p>
                        <ul>
                            <li>虚拟设备</li>
                            <li>此类设备基于物理设备进行映射，具有同型号宿主机的全部功能，对虚拟设备的所有操作会映射到宿主机上。</li>
                        </ul>

                    </div>
                </div>


            </div>


            <div class="step-content" id="step-2">
                <div class="phy">
                    <div class="row">
                        <div class="col-md-2 select-label">选择设备型号：</div>
                        <div class="col-md-3">
                            <div class="dropdown">
                                <button type="button" class="btn dropdown-toggle btn-default" id="modelList"
                                        data-toggle="dropdown">
                                    <span class="chosenItem" id="modelList-chosenItem" >选择型号</span>
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu dynamic" role="menu" aria-labelledby="modelList" id="modelList-content">
                                    <!--<li role="presentation"><a role="menuitem" tabindex="-1" >Dev1/ai0dsfdsf</a></li>-->
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="row mg-t">
                        <div class="col-md-6">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    型号信息
                                </div>
                                <table class="table">
                                    <tr><th>型号 ID</th><td id="modelId"> </td></tr>
                                    <tr><th>型号</th><td id="modelName"> </td></tr>
                                    <tr><th>状态</th><td id="modelStatus"> </td></tr>
                                    <tr><th>类别</th><td id="modelType"> </td></tr>
                                    <tr><th>测试类别</th><td id="modelTestType"> </td></tr>
                                    <tr><th>注册时间</th><td id="modelRegisterTime"> </td></tr>
                                    <tr><th>备注</th><td id="modelRemark"> </td></tr>
                                    <tr><th>配置信息</th><td id="modelConfig" class="config"> </td></tr>
                                </table>
                            </div>

                        </div>
                        <img id="model-img" class="img-thumbnail" style="max-height: 300px; max-width: 300px;" src="">
                    </div>
                </div>
                <div class="vir">
                    <div class="row">
                    <div class="col-md-2 select-label">选择模板设备：</div>
                    <div class="col-md-3">
                        <div class="dropdown">
                            <button type="button" class="btn dropdown-toggle btn-default" id="deviceList"
                                    data-toggle="dropdown">
                                <span class="chosenItem" id="deviceList-chosenItem" >选择设备</span>
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu dynamic" role="menu" aria-labelledby="modelList" id="deviceList-content">
                                <!--<li role="presentation"><a role="menuitem" tabindex="-1" >Dev1/ai0dsfdsf</a></li>-->
                            </ul>
                        </div>
                    </div>
                    </div>
                    <div class="row mg-t">
                        <div class="col-md-6">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    设备信息
                                </div>
                                <table class="table">
                                    <tr><th>设备 ID</th><td id="deviceId"> </td></tr>
                                    <tr><th>型号</th><td id="deviceModel"> </td></tr>
                                    <tr><th>类型</th><td id="deviceVirtualType"> </td></tr>
                                    <tr><th>物理设备 ID</th><td id="devicePhysicalId"> </td></tr>
                                    <tr><th>状态</th><td id="deviceStatus"> </td></tr>
                                    <tr><th>类别</th><td id="deviceType"> </td></tr>
                                    <tr><th>测试类别</th><td id="deviceTestType"> </td></tr>
                                    <tr><th>注册时间</th><td id="deviceRegisterTime"> </td></tr>
                                    <tr><th>备注</th><td id="deviceRemark"> </td></tr>
                                    <tr><th>配置信息</th><td id="deviceConfig" class="config"> </td></tr>
                                </table>
                            </div>

                        </div>
                        <img id="device-img" class="img-thumbnail" style="max-height: 300px; max-width: 300px;" src="">
                    </div>
                </div>
            </div>

            <div class="step-content" id="step-3">
                <div class="row">
                    <div class="col-md-2 select-label">设备 ID：</div>
                    <div class="col-md-2"><input id="input-deviceId" class="input-text" type="text"/></div>
                    <div class="col-md-2"><button class="btn btn-default" id="btn-generateId">生成 ID</button></div>
                </div>
                <div class="row mg-t">
                    <div class="col-md-2 select-label">可见性：</div>
                    <div class="col-md-5">
                        <div class="dropdown">
                        <button type="button" class="btn dropdown-toggle btn-default" id="visibilityList"
                                data-toggle="dropdown">
                            <span class="chosenItem" id="visibilityList-chosenItem" >选择可见性</span>
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu fix" role="menu" aria-labelledby="modelList" id="visibilityList-content">
                            <li role="presentation"><a role="menuitem" tabindex="-1" visibility="2">公共可见 </a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" visibility="1">组可见 </a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" visibility="0">私有 </a></li>
                        </ul>
                        </div>
                    </div>

                </div>
                <div class="row mg-t">
                    <div class="col-md-2 select-label">备 注：</div>
                    <div class="col-md-5"><input id="input-remark" class="input-text" type="text" style="width: 100%"/></div>

                </div>
                <div class="row mg-t">
                    <div class="col-md-2 select-label">描述文件：</div>
                    <div class="col-md-5"><input id="input-b1" name="file-data" type="file" accept="text/xml"></div>

                </div>

            </div>

            <div class="step-content" id="step-4">
                <div class="row">
                    <div class="col-md-2"><b>请确认信息</b></div>
                </div>
                <div class="row mg-t">
                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                设备信息
                            </div>
                            <table class="table">
                                <tr><th>设备 ID</th><td id="nDeviceId"> </td></tr>
                                <tr class="vir"><th>模板设备 ID</th><td id="nDeviceBaseId"> </td></tr>
                                <tr><th>型号</th><td id="nDeviceModel"> </td></tr>
                                <tr><th>类型</th><td id="nDeviceVirtualType"> </td></tr>
                                <tr><th>物理设备 ID</th><td id="nDevicePhysicalId"> </td></tr>
                                <tr><th>可见性</th><td id="nDeviceVisibility"> </td></tr>
                                <tr><th>备注</th><td id="nDeviceRemark"> </td></tr>
                                <tr><th>描述文件</th><td id="nDeviceFile"> </td></tr>

                            </table>
                        </div>

                    </div>
                    <img id="nDevice-img" class="img-thumbnail" style="max-height: 300px; max-width: 300px;" src="">
                </div>
            </div>


        </div>
        <div class="row" style="margin-left:0;">
            <button class="btn btn-primary prev" style="width: 80px;">上一步</button>
            <button id="btn-next" class="btn btn-primary next" style="width: 80px;"   >下一步</button>
            <button id="btn-finish" class="btn btn-success" style="width: 80px;">完成</button>
        </div>

    </div>



</div><!-- /.container -->

<!-- nav selector -->
<script>
    $("#device-add").addClass("active");
</script>

</body>
</html>