<!DOCTYPE html>
<html lang="zh-CN"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="component-common-head :: common_header(~{::title},~{::link},~{::script})">

    <title>控制面板</title>
    <!-- Custom styles for this template -->
    <!-- should have at least 1 link and script for thymeleaf to parse -->

    <link th:href="@{/resources/css/emptycss.css}" rel="stylesheet">
    <script th:src="@{/resources/js/emptyjs.js}" ></script>

    <script th:src="@{/resources/dist/echarts/echarts.min.js}" ></script>
    <script th:src="@{/resources/js/stomp.js}" ></script>
    <script th:src="@{/resources/js/device-control-panel-pcie6320.js}" ></script>

    <link th:href="@{/resources/css/device-control-panel.css}" rel="stylesheet">

</head>
<body>
<script th:inline="javascript">
    var deviceId = [[${device.getDeviceId()}]];
    var physicalDeviceId = [[${device.getPhysicalDeviceId()}]];
    var configStr = [[${device.config}]];
</script>

<div th:replace="~{component-header :: #header}"></div>


<div class="container-fluid">

    <div th:replace="~{component-nav-sidebar :: #nav-sidebar}"></div>

    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h3 class="page-header">控制面板<a style="font-size: 18px; margin-left: 18px;" th:text="${device.deviceId}" th:href="'../device-info/' + ${device.getDeviceId()}"> </a></h3>

        <h3 style="margin-bottom: 24px;">
            <span th:text="${device.model.getName()}">Device Name</span>

        </h3>

        <div>

            <div class="row">

                <div class="col-md-4">

                    <div class="left-panel panel panel-default ">

                        <div class="panel-heading">设备控制</div>

                        <div class="panel-body">

                        <div><div class="left ">Device ID: </div><div th:text="${device.getDeviceId()}">id</div></div>

                        <div><div class="left">Channel: </div><div class="dropdown">
                            <button type="button" class="btn dropdown-toggle btn-default" id="dropdownMenu1"
                                    data-toggle="dropdown">
                                <span class="chosenItem" id="dropdownMenu1-chosenItem">selected item</span>
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1" id="dropdownMenu1-content">
                                <!--<li role="presentation"><a role="menuitem" tabindex="-1" >Dev1/ai0</a></li>-->
                            </ul>
                        </div></div>

                        <div><div class="left">Method: </div><div class="dropdown">
                            <button type="button" class="btn dropdown-toggle btn-default" id="dropdownMenu2"
                                    data-toggle="dropdown">
                                <span class="chosenItem" id="dropdownMenu2-chosenItem">selected item</span>
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu2" id="dropdownMenu2-content">
                            </ul>
                        </div></div>

                        <div><div class="left">Min Voltage (V): </div><input id="minVoltage" value="-10.0"></div>

                        <div><div class="left">Max Voltage (V): </div><input id="maxVoltage" value="10.0"></div>

                        <div><div class="left">Samples: </div><input id="samples" value="100"></div>

                        <div><div class="left">Rate (Hz):</div><input id="rate" value="1020.5"></div>

                        <div class="line" style="margin-bottom: 24px;"></div>

                        <div style="text-align: center;">
                            <button id="setupBtn" class="btn btn-primary">设置</button>
                            <button id="startBtn" class="btn btn-success">开始</button>
                            <button id="stopBtn" class="btn btn-danger">停止</button>
                        </div>

                        </div>


                    </div>


                </div>

                <!--<div class="col-md-2">-->

                    <!--<div class="list-group">-->

                        <!--<div class="list-group-item active">采样列表</div>-->
                        <!--<div class="list-group-item">sample1</div>-->



                    <!--</div>-->

                <!--</div>-->

                <div class="col-md-8">

                    <div class="panel panel-default">

                        <div class="panel-heading">波形图</div>
                        <div class="panel-body">
                            <div id="chart" style="height: 455px;">


                            </div>
                        </div>

                    </div>



                </div>





            </div>


        </div>

    </div>



</div><!-- /.container -->


<!-- nav selector -->
<script>
    $("#device-control-panel").addClass("active");
</script>

</body>
</html>