<!DOCTYPE html>
<html lang="zh-CN"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="component-common-head :: common_header(~{::title},~{::link},~{::script})">

    <title>设备详情</title>
    <!-- Custom styles for this template -->
    <!-- should have at least 1 link and script for thymeleaf to parse -->

    <link th:href="@{/resources/css/emptycss.css}" rel="stylesheet">
    <script th:src="@{/resources/js/emptyjs.js}" ></script>

</head>
<body>

<div th:replace="~{component-header :: #header}"></div>


<div class="container-fluid">

    <div th:replace="~{component-nav-sidebar :: #nav-sidebar}"></div>

    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h3 class="page-header">设备详情</h3>

        <div class="row">

        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    设备信息
                </div>
                <table class="table">
                    <tr><th>设备 ID</th><td th:text="${device.deviceId}">content</td></tr>
                    <tr><th>型号</th><td th:text="${device.model.name}">content</td></tr>
                    <tr><th>类型</th><td th:text="${device.virtualStr}">content</td></tr>
                    <tr><th>物理设备 ID</th><td th:text="${device.physicalDeviceId}">content</td></tr>
                    <tr><th>状态</th><td th:text="${device.statusStr}">content</td></tr>
                    <tr><th>类别</th><td th:text="${device.model.typeStr}">content</td></tr>
                    <tr><th>测试类别</th><td th:text="${device.model.testTypeStr}">content</td></tr>
                    <tr><th>注册时间</th><td th:text="${device.registerTimeStr}">content</td></tr>
                    <tr><th>更新时间</th><td th:text="${device.updateTimeStr}">content</td></tr>
                    <tr><th>备注</th><td th:text="${device.remark}">content</td></tr>
                    <tr><th>配置信息</th><td th:text="${device.config}" style="overflow: hidden; vertical-align: bottom; text-overflow: ellipsis; white-space:nowrap; max-width: 300px">content</td></tr>
                </table>
            </div>

        </div>

        <div class="col-md-6">

            <img class="img-thumbnail" style="max-height: 400px;"
                 th:src="@{'/api/image/' + ${device.model.imageId}}">


        </div>
        </div>

        <div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    设备操作
                </div>
                <div style="padding: 12px;">

                    <a th:href="'../device-description/' + ${device.deviceId}" class="btn btn-default">ATML描述</a>
                    <a th:href="'../device-control-panel/' + ${device.deviceId}" class="btn btn-default">控制面板</a>
                    <a class="btn btn-default" href="" th:href="'../device-history/' + ${device.deviceId}">历史数据</a>
                    <a class="btn btn-default" href="" th:href="'../device-mapping/' + ${device.deviceId}">映射管理</a>
                    <a class="btn btn-default" href="" th:href="'../device-mapping/' + ${device.deviceId}">暂停使用</a>
                </div>
            </div>
        </div>

    </div>



</div><!-- /.container -->

<!-- nav selector -->
<script>
    $("#device-info").addClass("active");
</script>

</body>
</html>