<!DOCTYPE html>
<html lang="zh-CN"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="component-common-head :: common_header(~{::title},~{::link},~{::script})">

    <title>控制面板</title>
    <!-- Custom styles for this template -->
    <!-- should have at least 1 link and script for thymeleaf to parse -->

    <link th:href="@{/resources/css/emptycss.css}" rel="stylesheet">
    <script th:src="@{/resources/js/emptyjs.js}" ></script>

</head>
<body>

<div th:replace="~{component-header :: #header}"></div>


<div class="container-fluid">

    <div th:replace="~{component-nav-sidebar :: #nav-sidebar}"></div>

    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h3 class="page-header">控制面板</h3>

        <h3 >
            <span th:text="${device.model.getName()}">Device Name</span>
            <a style="font-size: 18px; margin-left: 18px;"> Setting</a>
        </h3>

        <p>
            默认的视图，请配置 model 的 view 字段来选择专有视图。
        </p>

    </div>



</div><!-- /.container -->




</body>
</html>