<!DOCTYPE html>
<html lang="zh-CN"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>文档中心</title>
    <link rel="icon"  th:href="@{/resources/image/cloudtesting-icon.png}">

    <!-- Bootstrap core CSS -->
    <link th:href="@{/resources/dist/bootstrap/css/bootstrap.css}" rel="stylesheet">
    <!-- FontAwesome -->
    <link th:href="@{/resources/dist/font-awesome-4.7.0/css/font-awesome.min.css}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link th:href="@{/resources/css/common.css}" rel="stylesheet">

    <!-- markdown css -->
    <link th:href="@{/resources/dist/github-markdown-css/github-markdown.css}" rel="stylesheet">
    <style>
        body {
            padding-top: 50px;
            padding-bottom: 20px;
        }
        .markdown-body {
            box-sizing: border-box;
            min-width: 200px;
            max-width: 980px;
            margin: 0 auto;
            padding: 45px;
        }

        @media (max-width: 767px) {
            .markdown-body {
                padding: 15px;
            }
        }
        .markdown-body img {
            max-width: 500px;
            margin: 24px 100px;
        }
    </style>


</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" th:href="@{/}"><img style="height: 22px;"  th:src="@{/resources/image/cloudtesting-logo-9d9d9d.svg}"></a>
            <a class="navbar-brand" href="./">云检测平台</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <form th:if="${user == null}" class="navbar-form navbar-right" role="form" th:action="@{/login}" method="post">
                <div class="form-group">
                    <input type="text" placeholder="Username" class="form-control" required name="username">
                </div>
                <div class="form-group">
                    <input type="password" placeholder="Password" class="form-control" required name="password">
                </div>
                <button type="submit" class="btn btn-success" >登陆</button>
                <button type="button" class="btn btn-info" onclick="location.href='./register'">注册</button>
            </form>
            <div th:if="${user != null}" class="navbar-right">
                <a class="navbar-brand" th:href="@{/home}" th:text="${user.getUsername()}">Username</a>
                <a class="navbar-brand" th:href="@{/logout/main}">退出</a>
            </div>
        </div><!--/.navbar-collapse -->
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-md-2" >
            <div class="list-group side-nav" style="padding-top:45px; width: 165px;">
                <a class="list-group-item active">
                    <div class="list-group-item-heading" style="font-size: 18px;text-align: center;margin-bottom: 0">文档列表</div>
                </a>
                <a class="list-group-item" href="#architecture" >系统架构</a>
                <a class="list-group-item" href="#protocol" >云检测接入协议</a>
                <a class="list-group-item" href="#description" >云检测设备描述</a>
                <a class="list-group-item" href="#dependency" >原型平台项目依赖</a>
                <a class="list-group-item" href="#deploy" >原型平台部署</a>
                <a class="list-group-item" href="#deploy" >原型平台使用</a>
            </div>

        </div>
        <div class="col-md-10 ">
            <div id="htmlout" class="markdown-body"></div>
        </div>

    </div>

    <hr>

    <footer>
        <p>&copy; Mist 实验室 @ BUAA 2017</p>
    </footer>
</div> <!-- /container -->




<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script th:src="@{/resources/dist/jquery/jquery-3.2.1.min.js}"></script>
<script th:src="@{/resources/dist/bootstrap/js/bootstrap.min.js}" ></script>
<script th:src="@{/resources/dist/hyperdown/Parser.js}" ></script>
<script th:src="@{/resources/dist/stickUp/stickUp.min.js}" ></script>
<script>
    $(function () {
        $(window).on("hashchange", function () {
           var markdown = loadMarkdown(location.hash.replace("#",""));
           parseMarkdown(markdown);
        });
        $(window).trigger("hashchange");
//        $(".side-nav").stickUp();
        $(document).ready( function() {
            //enabling stickUp on the '.navbar-wrapper' class
            $(".side-nav").stickUp();
        });
    });
    function loadMarkdown(fileName) {
        var requestUrl = "resources/markdown/" + fileName + ".md";
        var responseBody = $.ajax({
            url:requestUrl,
            async:false
        });
        if (responseBody.status == 200) {
            return responseBody.responseText;
        } else {
            return "# 没有指定文件：" + fileName + ".md";
        }

    }
    function parseMarkdown(markdown) {
        var parser = new HyperDown;
        var html = parser.makeHtml(markdown);
        var out = document.getElementById("htmlout");
        var processedHtml = html.replace(new RegExp("src=\"static/","gm"), "src=\"resources/markdown/static/");
        processedHtml = processedHtml.replace(new RegExp("<br>","gm"),"</p><P>");
        out.innerHTML = processedHtml;
    }
</script>

</body>
</html>