<!DOCTYPE html>
<html lang="zh-CN"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>云检测平台</title>
    <link rel="icon"  th:href="@{/resources/image/cloudtesting-icon.png}">

    <!-- Bootstrap core CSS -->
    <link th:href="@{/resources/dist/bootstrap/css/bootstrap.css}" rel="stylesheet">
    <!-- FontAwesome -->
    <link th:href="@{/resources/dist/font-awesome-4.7.0/css/font-awesome.min.css}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link th:href="@{/resources/css/index-login.css}" rel="stylesheet">

</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" th:href="@{/}"><img style="height: 22px;"  th:src="@{/resources/image/cloudtesting-logo-9d9d9d.svg}"></a>
            <a class="navbar-brand" href="#">云检测平台</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <form th:if="${user == null}" class="navbar-form navbar-right" role="form" th:action="@{/login}" method="post">
                <div class="form-group">
                    <input type="text" placeholder="Username" class="form-control" required name="username">
                </div>
                <div class="form-group">
                    <input type="password" placeholder="Password" class="form-control" required name="password">
                </div>
                <button type="submit" class="btn btn-success" >登陆</button>
                <button type="button" class="btn btn-info" onclick="location.href='./register'">注册</button>
            </form>
            <div th:if="${user != null}" class="navbar-right">
                <a class="navbar-brand" th:href="@{/home}" th:text="${user.getUsername()}">Username</a>
                <a class="navbar-brand" th:href="@{/logout/main}">退出</a>
            </div>
        </div><!--/.navbar-collapse -->
    </div>
</nav>

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container">
        <h1><img style="height: 64px;"  th:src="@{/resources/image/cloudtesting-logo-777777.svg}"> 云检测平台</h1>
        <p>云检测平台是云制造理论在测试行业的落地应用，平台 1.0 版本针对电子组装制造业的模块及整机测试环节的测试模式进行了研发适配，实现了实验室环境下对典型测试仪器的接入及虚拟化服务化封装，可以通过 Web 应用的方式来调用仪器仪表，执行测试任务。</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">了解更多 &raquo;</a></p>
    </div>
</div>

<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-4">
            <h2><i class="fa fa-cogs" aria-hidden="true" style="color:grey; margin-right: 16px;"></i>平台架构</h2>
            <p>基于云制造理论体系，提出针对电子组装制造业模块及整机测试环节的云检测模式架构。 </p>
            <p><a class="btn btn-default" href="#" role="button">查看全部 &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2><i class="fa fa-telegram" aria-hidden="true" style="color:grey; margin-right: 16px;"></i> 接入协议</h2>
            <p>平台基础MQTT协议与JSON数据格式制定了应用层协议，设备接入平台需兼容此协议，该部分对协议进行介绍。 </p>
            <p><a class="btn btn-default" href="#" role="button">查看全部 &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2><i class="fa fa-file-text" aria-hidden="true" style="color:grey; margin-right: 16px;"></i> 设备描述</h2>
            <p>基于IEEE ATML协议标准，提出云制造测试设备资源描述方法，该部分对测试设备的描述方法进行了介绍。</p>
            <p><a class="btn btn-default" href="#" role="button">查看全部 &raquo;</a></p>
        </div>
    </div>

    <hr>

    <footer>
        <p>&copy; Mist 实验室 @ BUAA 2017</p>
    </footer>
</div> <!-- /container -->




<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
<script th:src="@{/resources/dist/bootstrap/js/bootstrap.min.js}" ></script>

</body>
</html>