<!DOCTYPE html>
<html lang="zh-CN"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="component-common-head :: common_header(~{::title},~{::link},~{::script})">

    <title>型号详情</title>
    <!-- Custom styles for this template -->
    <!-- should have at least 1 link and script for thymeleaf to parse -->

    <link th:href="@{/resources/css/emptycss.css}" rel="stylesheet">
    <script th:src="@{/resources/js/emptyjs.js}" ></script>

</head>
<body>

<div th:replace="~{component-header :: #header}"></div>


<div class="container-fluid">

    <div th:replace="~{component-nav-sidebar :: #nav-sidebar}"></div>

    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h3 class="page-header">型号详情</h3>

        <div class="row">

        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    型号信息
                </div>
                <table class="table">
                    <tr><th>型号 ID</th><td th:text="${model.id}">content</td></tr>
                    <tr><th>型号</th><td th:text="${model.name}">content</td></tr>
                    <tr><th>状态</th><td th:text="${model.statusStr}">content</td></tr>
                    <tr><th>类别</th><td th:text="${model.typeStr}">content</td></tr>
                    <tr><th>测试类别</th><td th:text="${model.testTypeStr}">content</td></tr>
                    <tr><th>注册时间</th><td th:text="${model.registerTimeStr}">content</td></tr>
                    <tr><th>备注</th><td th:text="${model.remark}">content</td></tr>
                    <tr><th>配置信息</th><td th:text="${model.config}">content</td></tr>
                </table>
            </div>

        </div>

        <div class="col-md-6">

            <img class="img-thumbnail" style="max-height: 400px; max-width: 400px;"
                 th:src="@{'/api/image/' + ${model.imageId}}">


        </div>
        </div>

    </div>



</div><!-- /.container -->

<!-- nav selector -->
<script>
    $("#model-list").addClass("active");
</script>

</body>
</html>