<!DOCTYPE html>
<html lang="zh-CN"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>注册</title>
    <link rel="icon"  th:href="@{/resources/image/cloudtesting-icon.png}">

    <!-- Bootstrap core CSS -->
    <link th:href="@{/resources/dist/bootstrap/css/bootstrap.css}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link th:href="@{/resources/css/register.css}" rel="stylesheet">

</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" th:href="@{/}"><img style="height: 22px;"  th:src="@{/resources/image/cloudtesting-logo-9d9d9d.svg}"></a>
            <a class="navbar-brand" th:href="@{/}">云检测平台</a>
        </div>

    </div>
</nav>

<div class="container">

    <form class="form-register" role="form" th:action="@{/register}" th:object="${user}" method="post" th:method="post">
        <h3 th:if="${error != null}" th:text="${error}" class="text-danger">当前错误</h3>
        <h2 class="form-register-heading">请注册</h2>
        用户名：<br>
        <input type="text" class="form-control" placeholder="Username" required autofocus th:field="*{username}">
        邮箱：<br>
        <input type="email" class="form-control" placeholder="Email" required th:field="*{email}" >
        密码:<br>
        <input type="password" class="form-control" placeholder="Password" required th:field="*{password}" id="password">
        确认密码:<br>
        <input type="password" class="form-control" placeholder="Repeat Password" required id="repeat-password">
        <br>
        <button class="btn btn-lg btn-primary btn-block" type="submit" onclick="return checkpasswd()">注册</button>
    </form>

</div> <!-- /container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
<script th:src="@{/resources/dist/bootstrap/js/bootstrap.min.js}" ></script>
<script th:src="@{/resources/js/checkpw.js}"></script>

</body>
</html>