<!DOCTYPE html>
<html lang="zh-CN"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>任务</title>

    <!-- Bootstrap core CSS -->
    <link th:href="@{/resources/dist/css/bootstrap.css}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link th:href="@{/resources/css/index.css}" rel="stylesheet">
    <link th:href="@{/resources/css/user.css}" rel="stylesheet">

</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" th:href="@{/}">云检测平台</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <div th:if="${user != null}" class="navbar-right">
                <a class="navbar-brand" th:href="@{'/user/' + ${user.getId()}}" th:text="${user.getUsername()}">Username</a>
                <a class="navbar-brand" th:href="@{/logout/main}">退出</a>
            </div>
        </div><!--/.nav-collapse -->
    </div>
</nav>

<div class="container-fluid">
    <div class="col-sm-3 col-md-2 sidebar">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li >
                    <a href="">用户中心</a>
                </li>
                <li>
                    <a href="">测试设备</a>
                </li>
                <li class="second-nav">
                    <a href="">设备列表</a>
                </li>
                <li class="second-nav">
                    <a href="">添加设备</a>
                </li>
                <li>
                    <a href="">测试任务</a>
                </li>
                <li class="second-nav">
                    <a href="" class="active">任务列表</a>
                    <a href="">新的任务</a>
                </li>

            </ul>
        </div>
    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <div class="">
            <h1 class="page-header">任务列表</h1>
        </div>
    </div>



</div><!-- /.container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
<script th:src="@{/resources/dist/js/bootstrap.min.js}" ></script>

</body>
</html>