<!DOCTYPE html>
<html lang="zh-CN"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>用户</title>

    <!-- Bootstrap core CSS -->
    <link th:href="@{/resources/dist/css/bootstrap.css}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link th:href="@{/resources/css/index.css}" rel="stylesheet">
    <link th:href="@{/resources/css/user.css}" rel="stylesheet">

</head>
<body>

<div th:replace="~{component-header :: #header}"></div>


<div class="container-fluid">

    <div th:replace="~{component-nav-sidebar :: #nav-sidebar}"></div>

    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <div class="">
            <h1 class="page-header">用户中心</h1>
            <p class="lead" th:text="'Hello ' + ${user.getUsername()}">Hello user! </p>
        </div>
    </div>



</div><!-- /.container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
<script th:src="@{/resources/dist/js/bootstrap.min.js}" ></script>

</body>
</html>